// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.main {
    background-color: white;
}

.form-heading {
    font-size: 40px;
    text-align: center;
    color: #b31b1b;
}

.form-title {
    text-align: center;
    font-family: Inter, sans-serif;
}